<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= course.name %></title>
</head>
<body>
    <h1><%= course.name %></h1>
    <p>Description: <%= course.description %></p>
    <p>Rating: <%= course.rating %></p>
    <a href="/college/id/<%= course.college_id %>">Back to College</a>
    <br><br>
    <a href="/course/edit/<%= course.id %>">Edit Course</a>
</body>
</html>