<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.name %></title>
</head>
<body>
    <h1><%= course.name %></h1>
    <p>Description: <%= course.description %></p>
    <p>Rating: <%= course.rating %></p>
    <a href="/college/id/<%= course.college_id %>">Back to college</a>
</body>
</html>